
p{
    color: white;
}

h1.inicio{
    margin: 0 20% 25px 20%;
}

.textoSencillo{
    margin:0 20% 45px 20%;
    text-align: justify;
}

#middle{
    margin-top: 500px;
    padding-top: 200px;
    margin-bottom: 500px;
}
#botonesPaginas{
    margin: 0 20%;
}

div.encabezado{
    padding-top: 75px;
    padding-bottom: 20px;
    background-color: black;
    margin-bottom: 120px;
}

.mosaicoDeVideos{
    margin:0 10% 0 10%;
}

.textoContacto{
    font-size: 20px;
    padding: 0 20% 0 20%;
    text-align:justify;
}

.dejaTuComentario{
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

iframe{
    padding: 10px 10px 10px 10px;
    
    max-width: 100px;
}

.fotoDePerfil{
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
    height: auto;
}

body{
    background-color: rgba(var(--bs-dark-rgb));
    color: white;
}