.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

p{
    color: white;
}

p.centerVideo{
    text-align: center;
    width: 33%;
    height: auto;
}
div.inicio{
    text-align: center;
}
iframe{
    margin: 10px auto 10px auto;
    width: 33%;
    max-width: 300px;
    height: auto;

}